{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="{% static 'app/styles.css' %}">
    <script src="{% static 'app/scripts/script.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'app/imagens/Logo.png'%}" type="image/x-icon">
    <title>Login</title>
</head>
<body>
    <div class="container-principal">
        <div class="container-logo">
            <img src="{% static 'app/imagens/Logo.png'%}" class="logo-login">
        </div>
        <div class="row flex-row justify-content-center">
            <div class="col-4 caixa-login">
                <label style="font-size: 32px; color: rgba(0, 0, 0, 0.948); font-weight: 600; display: flex; justify-content: center;">
                    Bem-vindo de volta!
                </label>
                <br>
                <form method="post">
                    {% csrf_token %}
                    <div class="formulario">
                        <input
                        type="text"
                        class="caixa-formulario"
                        placeholder="  Email"
                        name="email">
                        <br>
                        <input
                        type="password"
                        class="caixa-formulario"
                        placeholder="  Senha"
                        name="senha">
                        <br>
                        <button type="submit" class="formulario-botoes" style="background:#74b4bb">
                            Entrar
                        </button>
                        <br>
                        <div style="font-size: small; color:#989898">Não tem uma conta ainda? 
                            <a href="{% url 'cadastro'%}" style="color: blue;"> Cadastre-se</a>
                        </div>
                </div>
                </form>
            </div>
            <div class="banner-login">
                <img src="{% static 'app/imagens/pills.jpg' %}">
            </div>
        </div>
    </div>
</body>
</html>