body {
    background-color: #4C9E7C;
    color: rgb(212, 211, 211);
}

.logo-login {
    padding-left: 150px;
    padding-top: 20px;
    width: 300px;
}

.logo-login{
    padding-left: 20px; 
    width: 150px;
}
