body {
    background-color:#74b4bb;
    color: rgb(212, 211, 211);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-logo {
    display: flex;
    justify-content: left;
    width: 900px;
}

.logo-login{
    margin-top: 20px;
    width: 150px;
}

.container-principal {
display: flex;
flex-direction: column;
justify-content: center;
}

.caixa-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    border-radius: 10px 0 0 10px;
    background: rgb(255, 255, 255);
    padding: 40px 60px;  
    width: 450px;
    height: 450px;
}

.banner-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    border-radius: 0 10px 10px 0;
    background: rgb(255, 255, 255);
    padding: 40px 60px;  
    width: 450px;
    height: 450px;
    border-left: 2px solid rgb(233, 230, 230);
}


.caixa-login .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.caixa-formulario {
    width: 310px;
    height: 45px;
    border-radius: 8px;
    border: 1px solid #939393;
    background: white;
}

.caixa-formulario::placeholder {
    color: #939393;
}

.formulario-botoes {
    width: 310px;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: black;
    background-color: #000000;
}

.formulario-botoes:hover {
    opacity: 0.9;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    text-decoration: underline;
}